:root {
    --bg-navy: #030e2c;
    --card-navy: #063283;
    --neon-green: #03f7ae;
    --text-main: #ffffff;
    --text-dim: #94a3b8;
    --glass: rgba(255, 255, 255, 0.04);
}

.status-container {
    width: 100%;
    margin-bottom: 20px;
}

.status-card {
    background:
        radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        var(--card-navy);
    background-size: 16px 16px, 100% 100%;
    padding: 20px 24px;
    border-radius: 28px;
}

/* Branding & Logo */
.logo {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--text-main);
    text-align: center;
}

.logo span {
    color: var(--neon-green);
}

.brand-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-id {
    color: var(--text-dim);
    font-size: 0.65rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 4px 0 0px 0;
    text-transform: uppercase;
}

/* THE NEON BORDER PILL */
.neon-pill {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 0.65rem;
    font-weight: 800;
    color: var(--neon-green);
    background: rgba(3, 247, 174, 0.02);
    border: 1px solid var(--neon-green);
    box-shadow: 0 0 10px rgba(3, 247, 174, 0.3),
        inset 0 0 4px rgba(3, 247, 174, 0.1);
    text-transform: uppercase;
    margin-top: 6px;
}

.pulse-dot {
    width: 5px;
    height: 5px;
    background: var(--neon-green);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--neon-green);
}

.clock {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--text-main);
}

.battery-info {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
}

.battery-info i {
    color: #ffffff;
}
.percentage{
    margin-left: 4px;
    color: #ffffff;
}

.glass-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Desktop Fix */
@media (max-width: 480px) {
    .glass-panel {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .battery-info {
        justify-content: flex-start;
    }
}